
.cart{
    display: grid;
    grid-template-columns: 40% 10% 20% 20% 10%;
    grid-template-rows: 100px;
    justify-content: center;
    background-color: bisque;
    border-bottom: 5px rgb(147, 26, 147) solid;
}
.cart__botonQuitar{
    display: flex;
    grid-column:5/6;
    grid-row: 1;
    flex-direction: row;
    justify-content: center;
}
.cart__botonQuitar__btn{
    padding: 10px;
    margin: 10px;
    border-radius: 30%;
    border-color: rgb(147, 26, 147);
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(147, 26, 147) inset, 0 0 0 0 rgb(147, 26, 147);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
    .cart__botonQuitar__btn:hover {
    box-shadow: 0 0 10px 0 rgb(147, 26, 147) inset, 0 0 10px 4px rgb(147, 26, 147);
    background-color: white;
    color: rgb(147, 26, 147);
}



.cart__productos{
    display: flex;
    grid-column:1/2;
    grid-row: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart__cant{
    display: flex;
    grid-column:2/3;
    grid-row: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart__unit{
    display: flex;
    grid-column:3/4;
    grid-row: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart__totalProd{
    display: flex;
    grid-column:4/5;
    grid-row: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
