

.main {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 50px auto;
    color: blueviolet;
}
.main__titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 1/5;
    grid-row: 1;
    margin: 0;
    background-color: black;
    color: white;
}
.ItemListContainer{
    display: flex;
    grid-column: 1/6;
    grid-row: 2;
    align-items: stretch;
    justify-content: center;
    background-image: url(../complements/Image/fondo-gamer.webp);
}
